%% -*- erlang -*-
{sub_dirs, ["rel", "apps/sniffle"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, {i, "../../deps/hanoidb/include"}, warnings_as_errors, {parse_transform, lager_transform}]}.
{edoc_opts, [{dir, "../../doc"}]}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.

{deps, [{hanoidb, "1.3.*", {git, "https://github.com/basho-labs/hanoidb.git", {tag, "v1.3.0"}}}]}.
